@import url("https://fonts.googleapis.com/css?family=Baloo+2&display=swap");

#home-container{
    background-image: url("https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-1.2.1&auto=format&fit=crop&w=2847&q=80");
    background-size: cover;
    height: 100vh;
    text-align: center;
}

#site-name{
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 40vh;
    padding-bottom: 20px;
    color: rgb(0, 113, 165);
    font-family: 'Baloo 2', cursive;
}

#login{
    font-size: 18px;
    font-weight: bold;
}

#login-button{
    border: none;
    margin: 0 5px;
    width: 60px
}

#login-button:hover{
    background-color: skyblue;
}

#register-link{
    margin: 20px 0;
}