.header{
    font-size: 40px;
    color: white
}

.tracker-line{
    color: white;
    display: flex;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.info-container{
    margin: 0 auto;
    display: flex;
}

.item{
    margin: 20px;
    font-weight: bold;
}

.expiration{
    margin: 20px;
}

.still-good{
    color: rgb(91, 253, 91)
}

.almost-expired{
    color: rgb(255, 166, 0)
}

.expired{
    color: rgb(255, 64, 64)
}

.remove-button{
    height: 30px;
    margin: auto 10px;
    background-color: white;
    border: none;
}

.remove-button:hover{
    background-color: skyblue;
}

#tracker-container{
    text-align: center;
    background-color: rgb(0, 0, 0);
}

#tracker-background-layer{
    background-color: rgba(0, 0, 0, 0.466);
    margin: 0 auto
}

.tracker-add{
    border: none;
    margin: 10px;
}

#add-button{
    border: none;
    background-color: white;
    margin: 10px;
    width: 60px;
}

#add-button:hover{
    background-color: skyblue;
}

#not-logged{
    display: flex;
    height: 100vh;
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2855&q=80");
    background-size: cover;
}

#not-logged-text{
    font-size: 30px;
    margin: auto;
}