.header{
    font-size: 40px;
}

.tracker-line{
    color: red;
    display: flex;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.item{
    margin: 20px
}

.expiration{
    margin: 20px;
}

.remove-button{
    /* padding: 5px; */
    height: 30px;
    margin: auto 0;
}

#tracker-container{
    text-align: center;
}